<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top">
  <div class="container-fluid">
    <!-- Logo links to home -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      
      <i class="fa-solid fa-compass" style="color: #FF385C;"> </i>
      <p style="color: #FF385C; margin: auto; " > tripden</p> 
    
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listing">All Listings</a>
        <a class="nav-link" href="/listing/new/place">Add New Listing</a>
      </div>
    </div>
  </div>
</nav>
